<%= form_for [@note,@note_image], html: { multipart: true } do |f| %>
  <% if @note_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note_image.errors.count, "error") %> prohibited this note_image from being saved:</h2>

      <ul>
      <% @note_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" accept="image/*" onchange="loadFile(event)">
    <%= f.label :image  %><br>
    <%= f.file_field :image %>
    <img style="max-height: 200px;" id="output"/>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
  var loadFile = function(event) {
    var reader = new FileReader();
    reader.onload = function(){
      var output = document.getElementById('output');
      output.src = reader.result;
    };
    reader.readAsDataURL(event.target.files[0]);
  };
</script><br>
