<div class="center">
  <div class="row">
    <br>
    <div class="col s6">
      <img class="col-xs-6" src="https://activerain-store.s3.amazonaws.com/image_store/uploads/7/7/0/3/2/ar134783823023077.jpg" class="responsive-img" style="max-height: 300px;"/>
    </div>
    <div class="col s6">
      <h3 class="col-xs-6">List of Notes</h3>
    </div>
  </div>
</div>

<div class="row">
  <% @notes.each do |note| %>
    <div class="col s12 m6">
      <div class="card medium">
        <div class="card-image" class="img_fix">
          <script>
            console.log('aa')
            console.log(<%= note.id %>)
            console.log('aa')
          </script>
          <img style="max-height 600px;" <%= image_tag note.image.url %>
          <span class="card-title"><%= note.title %></span>
        </div>
        <div class="card-content">
          <p>Title: <%= note.title %></p>
          <p>Subject: <%= note.subject %></p>
          <p>Teacher: <%= note.teacher %></p>
          <p class="right-align">Owner: <%= note.user.username %></p>
        </div>
        <div class="card-action">
          <%= link_to "Read More", note %>
          <a class ="left-align" href=""><%= note.user.username %></a>
          <!-- <p class="right-align"> <%= note.user.username %></p> -->
          <!-- <a class ="blue-text text-darken-2" href="">Read More</a> -->
        </div>
      </div>

    </div>
  <% end %>
<br>

<%if user_signed_in? %>
<div class="center">
  <a class="waves-effect waves-light btn-large" <%= link_to 'New Note', new_note_path %></a>
</div>
<% end %>

<script>
  $(document).ready( function () {
      $('#table_id').DataTable();
  } );
</script>
