<div class="row">
  <% @notes.each do |note| %>
    <div class="col s12 m6">
      <div class="card medium">
        <div class="card-image" class="img_fix">
          <img style="max-height 600px;" <%= image_tag note.image.url %>
          <span class="card-title"><%= note.title %></span>
        </div>
        <div class="card-content">
          <p>Title: <%= note.title %></p>
          <p>Subject: <%= note.subject %></p>
          <p>Teacher: <%= note.teacher %></p>
          <p class="text-right">Owner: <%= note.user.username %></p>
        </div>
        <div class="card-action">
          <%= link_to "Read More", note %>
          <!-- <a class ="blue-text text-darken-2" href="">Read More</a> -->
        </div>
      </div>

    </div>
  <% end %>

<br>
</div>

<%if user_signed_in? %>
<div class="center">
  <a class="waves-effect waves-light btn-large" <%= link_to 'New Note', new_note_path %></a>
</div>
<% end %>
