<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= sanitize @note.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= sanitize @note.description %>
</p>

<p>
  <strong>Subject:</strong>
  <%= sanitize @note.subject %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= sanitize @note.teacher %>
</p>

<div class="star-rating" data-score= <%= @avg_review %> ></div>
<em><%= "#{@comments.length} reviews" %></em>

<p>
  <strong>User:</strong>
  <%= @note.user.username %>
</p>

<p>
  <strong>Create note:</strong>
  <%= @note.create_note %>
</p>


<div class="row">
    <% @note_images.each do |note_image| %>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image" class="img_fix">
            <%= image_tag note_image.image.url, class: "materialboxed", style: "max-height 600px;" %>
          </div>
          <div class="card-action">
            <%= note_image.image_file_name %>
          </div>
        </div>
      </div>
    <% end %>
</div>

<div class="carousel">
  <% @note_images.each do |note_image| %>
      <li>
        <%= image_tag note_image.image.url, class: "carousel-item"%>
      </li>
  <% end %>
</div>

<div class="col-md-7 col-md-offset-1">
  <% if @comments.blank? %>
   <h3>No comments.</h3>
  <% else %>
    <% @comments.each do |comment| %>
      <div class="reviews">
        <p><%= sanitize comment.content %></p>
        <div class="star-rating" data-score= <%= comment.rating %> ></div>
        <p><%= comment.user.username %></p>
        <% if current_user.id == comment.user_id %>
          <%= link_to 'Edit Comment', edit_note_note_image_comment_path(@note,@first_image,comment) %>
        <% end %>
      </div>
      <li class="divider"></li>
    <% end %>
  <% end %>
</div><br>

<%= link_to 'Add Comment', new_note_note_image_comment_path(@note,@first_image) %>
<p></p>

<% if current_user.id == @note.user.id %>
  <%= link_to 'Edit', edit_note_path(@note) %> |
  <%= link_to 'Destroy', @note, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<p></p>
<%= link_to 'Back', notes_path %>

<% content_for :js do %>
<script>
  $(document).ready(function(){
    $('.slider').slider({full_width: true});
    $('.materialboxed').materialbox();
    $('.carousel').carousel();
  });

  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
          return $(this).attr('data-score');
    }
  });
</script>

<% end %>
