<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @note.description %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @note.subject %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @note.teacher %>
</p>

<div class="star-rating" data-score= <%= @avg_review %> ></div>
<em><%= "#{@comments.length} reviews" %></em>

<p>
  <strong>User:</strong>
  <%= @note.user.username %>
</p>

<p>
  <strong>Create note:</strong>
  <%= @note.create_note %>
</p>

<div class="slider" style="height: 800px;">
    <ul class="slides">
        <% @note_images.each do |note_image| %>
          <li>
            <script>
              console.log(<%=note_image.id%>)
\           </script>
            <%= image_tag note_image.image.url, class: "materialboxed" %>
          </li>
        <% end %>
    </ul>
</div>

<div class="container portfolio">
  <div class="row">
    <div class="col s12 m12 l12 portfolio-holder">
      <script>
        console.log(<%= @first_image.id %>)
      </script>
      <% @note_images.each do |note_image| %>
        <%= image_tag note_image.image.url, class: "materialboxed", style:"height:400px;width:500px;" %>
      <% end %>
    </div>
  </div>
</div>


<div class="carousel">
  <% @note_images.each do |note_image| %>
      <li>
        <%= image_tag note_image.image.url, class: "carousel-item"%>
      </li>
  <% end %>
</div><br>

<div class="col-md-7 col-md-offset-1">
  <% if @comments.blank? %>
   <h3>No comments.</h3>
  <% else %>
    <% @comments.each do |comment| %>
      <div class="reviews">
        <p><%= comment.content %></p>
        <div class="star-rating" data-score= <%= comment.rating %> ></div>
        <p><%= comment.user.username %></p>
      </div>
      <li class="divider"></li>
    <% end %>
  <% end %>
</div><br>

<%= link_to 'Add Comment', new_note_note_image_comment_path(@note,@first_image) %>

<% if current_user.id == @note.user.id %>
  <%= link_to 'Edit', edit_note_path(@note) %> |
  <%= link_to 'Destroy', @note, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<p></p>
<%= link_to 'Back', notes_path %>

<% content_for :js do %>
<script>
  $(document).ready(function(){
    $('.slider').slider({full_width: true});
  });

  $(document).ready(function(){
    $('.materialboxed').materialbox();
  });

  $(document).ready(function(){
    $('.carousel').carousel();
  });

  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
          return $(this).attr('data-score');
    }
  });
</script>

<% end %>
