<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @image.image_id %>
</p>

<p>
  <strong>X:</strong>
  <%= @image.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @image.y %>
</p>

<p>
  <strong>Content:</strong>
  <%= @image.content %>
</p>

<p>
  <strong>Note:</strong>
  <%= @image.note %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
